# dependencies
/node_modules

# distribution
/dist
/powsybl-diagram-viewer-*.tgz

# distrib for demo
/output

# webstorm
/.idea

# parcel
/.parcel-cache

# demo
/demo/node_modules
/demo/build
/demo/dist


