# dependencies
/node_modules

# distribution
/dist

# distrib for demo
/output

# webstorm
/.idea

# parcel
/.parcel-cache

# demo
/demo/node_modules
/demo/build
/demo/dist


# packages
/packages/*/node_modules
/packages/*/dist
